.SideBar {
  width: 100px;
  display: flex;
  flex-direction: column;

  &__videoIcon {
    height: 100px;
    position: relative;
    
    &:after, &:before {
      content: ' ';
      position: absolute;
      cursor: pointer;
      display: block;
      width: 60px;
      height: 60px;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    &:after {
      background-image: url(./assets/ic-next.svg);
      background-position: 50% 50%;
      background-size: 10px auto;
      background-repeat: no-repeat;
    }

    &:before {
      border-radius: 30px;
      background: #FF0000;
      transition: all 0.15s ease;
    }

    &:hover:before {
      background: rgba(255, 0, 0, 0.85);
    }

    &:active:before {
      background: rgba(255, 0, 0, 0.7);
    }
  }
  
  &__videoText {
    flex: 0.25;
    position: relative;
  }
  &__videoTextInner {
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: 1px;
    justify-content: flex-end;

    .Text {
      color: #FF0000;
    }
  }

  &__title {
    flex: 0.75;
    position: relative;
  }
  &__titleInner {
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: 1px;
    justify-content: center;
  }

  .rotator {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    transform: rotate(270deg);
    transform-origin: 0 0%;
  }
  
  &__num {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > div:first-child {
      margin-bottom: 10px;
      padding-bottom: 11px;
      position: relative;

      &:before {
        content: ' ';
        height: 1px;
        opacity: 0.75;
        width: 50px;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -25px;
        background: #fff;
      }
    }
  }
}