.TestimonialsPage {  
  // display: flex;
  padding-bottom: 250px;
  
  &__wrap {
    flex: 1;
    flex-direction: column;
    display: flex; 
  }

  &__content {
    flex: 1;
    flex-direction: column;
    display: flex; 
    position: relative;
  }

  &__h1 {
    margin-bottom: 30px;
    text-align: center;
  }
}
