.Icon{
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;

  &--romb {
    background-image: url(./assets/ic-romb.svg);
  }

  &--rombWhite {
    background-image: url(./assets/ic-romb--white.svg);
  }

  &--round {
    background-image: url(./assets/ic-round.svg);
  }

  &--square {
    background-image: url(./assets/ic-square.svg);
  }
}
