.Header {
  height: 100px;
  display: flex;

  &__content {
    flex: 1;
  }

  &__menuTriggerWrap {
    width: 100px;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__menuTrigger {
    width: 60px;
    height: 60px;
    position: relative;
    cursor: pointer;
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;

    &:after, &:before {
      content: ' ';
      display: block;
      background: red;
      height: 3px;
      transition: all 0.25s ease;
    }

    &:before {
      width: 30px;
      margin-bottom: 5px;
    }
    &:hover:before {
      transform: translateY(-2px);
    }

    &:after {
      width: 20px;
      margin-right: 10px;
      margin-top: 2px;
    }
    &:hover:after {
      transform: translateY(2px);
    }

    &:hover {
      background: rgba(255, 0, 0, 0.15);
    }

  }
}

@media screen and (max-width: 998px) {
  .Header{
    height: 60px;

    &__menuTriggerWrap {
      width: 60px;
    }

    &__menuTrigger {
      width: 36px;
      height: 36px;

      &:after, &:before {
        height: 2px;
      }

      &:before {
        width: 20px;
        margin-bottom: 3px;
      }
      &:hover:before {
        transform: translateY(-1px);
      }
  
      &:after {
        width: 16px;
        margin-right: 4px;
        margin-top: 2px;
      }
      &:hover:after {
        transform: translateY(1px);
      }

    }
  }
}

@media screen and (max-width: 719px) {
  .Header{
    height: 30px;

    &__menuTriggerWrap {
      width: 30px;
    }

    &__menuTrigger {
      width: 24px;
      height: 24px;

      &:after, &:before {
        height: 2px;
      }

      &:before {
        width: 16px;
      }
  
      &:after {
        width: 10px;
        margin-right: 6px;
      }

      &:hover {
        background: transparent;
      }

    }
  }
}
