.Header {
  height: 100px;
  display: flex;

  &__content {
    flex: 1;
  }

  &__menuTrigger {
    width: 100px;
    height: 100%;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;

    &:after, &:before {
      content: ' ';
      display: block;
      background: red;
      height: 5px;
      transition: all 0.25s ease;
    }

    &:before {
      width: 35px;
      margin-bottom: 5px;
    }
    &:hover:before {
      transform: translateY(-3px);
    }

    &:after {
      width: 23px;
      margin-right: 12px;
      margin-top: 5px;
    }
    &:hover:after {
      transform: translateY(3px);
    }

    &:hover {
      background: rgba(255, 0, 0, 0.15);
    }

  }
}
