.Header {
  height: 100px;
  display: flex;

  &__content {
    flex: 1;
  }

  &__menuTriggerWrap {
    width: 100px;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__menuTrigger {
    width: 60px;
    height: 60px;
    position: relative;
    cursor: pointer;
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;

    &:after, &:before {
      content: ' ';
      display: block;
      background: red;
      height: 3px;
      transition: all 0.25s ease;
    }

    &:before {
      width: 30px;
      margin-bottom: 5px;
    }
    &:hover:before {
      transform: translateY(-2px);
    }

    &:after {
      width: 20px;
      margin-right: 10px;
      margin-top: 2px;
    }
    &:hover:after {
      transform: translateY(2px);
    }

    &:hover {
      background: rgba(255, 0, 0, 0.15);
    }

  }
}
