.Logo {
  width: 125px;
  height: 125px;
  background-image: url(./assets/logo.svg);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 998px) {
  .Logo{
    width: 60px;
    height: 60px;
  }
}
